/*Remove debugging backfround colours*/

body,html{
    min-width: 300px;
	/*Adds in  Roboto Font from google with fall back*/
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-color: #36b2f8;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
html {
    overflow-x: hidden;
    width: 100%;
}
/*Smooth scrolling for Zen scroll*/
body, .smooth-container {
	scroll-behavior: smooth
}
canvas {
	width: 100%; height: 100%
}
section{
    margin: 70px 3vw 20px;
}
a{
	text-decoration: none;
}
/*Welcome Message*/
#welcomeMessage{
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
	margin: auto;
	padding-top: 10%;
	font-size: 12em;
	z-index: -1;
}
#welcomeMessage div{
    display:inline-block;
	opacity:0;
	transform:scale(0.7);
}
#landingImage img{
	position: absolute;
	z-index: 1;
}
#cloud1{
	width: 700px;
	left: -5%;
	top: 20%;
}
#cloud2{
	width: 800px;
	right: -5%;
	top: -10%;
}
#cloud3{
	width: 850px;
	right: -5%;
	bottom: 20%;
}

/*Landing Image - First thing the visitor sees*/
#landingImage {
	margin: 0;
	height: 200%;
	width: 100%;
	/*Centers the Image*/
	background: url("assets/landingImage.jpg") no-repeat;
	background-size: cover;
	background-position: 15% 50%;
}

#halfway{
	position: absolute;
	top: 100%;
	width: 80%;
}
#landingDescription{
	position: absolute;
	width: 600px;
	color: white;
	text-align: center;
	top: 20%;
	left: 10%;
	padding: 30px;
}
#jdName{
	bottom: 50%;
	left: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}
/*Blinking caret*/
#jdDescription {
    font-family: Courier, sans-serif;
    width: auto;
    display: inline-block;
    text-align: left;
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
@keyframes caret {
    50% {
        border-color: transparent;
    }
}


/*------------- Content ----------------*/
.titles{
    font-size: 5em;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
}
.breakLine{
    width: 810px;
    z-index: -10;
    margin-bottom: 10px;
    border-color: #111111;
}
.breakLineLight{
	width: 810px;
	z-index: -10;
	margin-bottom: 10px;
	border-color: rgba(61, 62, 62, 0.59);
}



.column h2{
	padding-top: 50px;
}
.row{
	width: 810px;
	margin: auto;
}
.column {
	float: left;
	width: 400px;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
#happyCIBC{
	width: 350px;
}
#contact{
    margin: 0;
    background-color: #82dffa;
}
.projects{
    margin: 0;
    background-color: #8fc8fa;
    margin-bottom: -60px;
}

/* Adds space between list items*/
li {
	margin: 0 0 10px 0;
}
footer{
    background-color: #82dffa;
}
#test h1, .projects br{
    margin:0;
}

.icons{
    width: 100px;
}
/*Tablet Screen*/
@media screen and (max-width: 1025px) {
    section{
        margin: 150px 3vw 20px;
    }
    #welcomeMessage{
        padding-top: 15%;
        font-size: 8em;
    }
    #jdName{
        font-size: 2em;
    }
    #jdDescription{
        font-size: 1.3em;
    }

	.column h2{
		padding-top: 0;
	}
	.row{
		width: 610px;
		margin: auto;
	}
	.column {
		float: left;
		width: 300px;
	}

	.projectsPhoto{
		width: 250px;
	}

	#happyCIBC{
		padding-top: 25px;
		width: 250px;
	}
    .icons{
        width: 10%;
    }
}
/*phone Screen*/
@media screen and (max-width: 750px){
    #landingDescription{
        left: 0;
    }
    #jdName{
        font-size: 1.3em;
    }
    #jdDescription{
        font-size: 1em;
    }
    #welcomeMessage{
        padding-top: 15%;
        font-size: 4em;
    }
	.column {
		width: 100%;
	}
	.column h2{
		padding-top: 0;
	}
	.row {
		width: 100%;
		margin: auto;
	}

	#happyCIBC{
		padding-top: 0;
		width: 60%;
	}
	.icons{
		width: 10%;
	}
	#landingDescription{
		width: 100%;
	}
}