/*Remove debugging backfround colours*/


body,html{
	/*Adds in Beautiful Roboto Font from google with fall back*/
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-color: blue;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
/*Smooth scrolling for Zen scroll*/
body, .smooth-container {
	scroll-behavior: smooth
}
canvas {
	width: 100%; height: 100%
}
section{
	margin: 3vw; 
	margin-top: 70px;
	margin-bottom: 20px;
}
/*Welcome Message*/
#welcomeMessage{
	margin: auto;
	padding-top: 10%;
	font-size: 12em;
	z-index: -1;
}
#welcomeMessage div{
    display:inline-block;
	opacity:0;
	transform:scale(0.9);
}
#landingImage img{
	position: absolute;
	z-index: 1;
}
#cloud1{
	width: 700px;
	left: -5%;
	top: 20%;
}
#cloud2{
	width: 800px;
	right: -5%;
	top: -10%;
}
#cloud3{
	width: 850px;
	right: -5%;
	bottom: 20%;
}

/*Landing Image - First thing the visitor sees*/
#landingImage {
	margin: 0;
	height: 200%;
	width: 100%;
	/*Centers the Image*/
	background: url("assets/landingImage.jpg") no-repeat;
	background-size: cover;
	background-position: 15% 50%;
}

#halfway{
	position: absolute;
	top: 100%;
	width: 80%;
}
#landingDescription{
	position: absolute;
	width: 600px;
	color: white;
	text-align: center;
	top: 20%;
	left: 10%;
	padding: 30px;
}
#jdName{
	bottom: 50%;
	left: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}
/*Blinking caret*/
#jdDescription {
    font-family: Courier, sans-serif;
    width: auto;
    display: inline-block;
    text-align: left;
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
@keyframes caret {
    50% {
        border-color: transparent;
    }
}



/*Nav bar*/
.navItem{
	padding-left: 40px;
	padding-right: 40px;
	font-size: 2.5em;
}
nav ul {
	text-align: center;
	list-style: none;
	background-color: #444;
	padding: 0;
	margin: 0;
}
nav li {
	font-size: 1.2em;
	line-height: 80px;-
	height: 80px;
	display: inline-block;
	margin-right: -4px;
}
nav li a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}
nav li a:hover {
	background-color: #111;
}
/*Biography and body shot*/
#autobio{
	margin: 0;
}
.centerDiv{
	width: 620px;
	margin:0 auto;
}

/*About Me*/
#aboutMe{
	background-color: white;
}
.aboutMeInline{
	width: 300px;
	min-width: 300px;
	float: left;
	margin:auto
}
#aboutMeColumn{
	text-align: right;
	padding-right: 20px;
	padding-top: 20px;
}
#happyCIBC{
	padding-top: 20px;
	width:100%;
	display: block;
}
/*Education*/
#everythingElse{
	background-color: grey;
}
#education{
	padding-top: 10px;
}
#tools{
	padding-bottom: 10px;
}
/*Contact*/
#contact{
	margin-top: -30px;
	background-color: white;
}

.icons{
	width: 64px;
	margin: 0vw;
}

/*Tablet Screen*/
@media screen and (max-width: 1025px) {
    body,html{
        background-color: yellow;
        font-size: 14px;
    }
	.navItem{
		padding-left: 20px;
		padding-right: 20px;
	}

	#landingDescription{
		font-size: 1.1em;
		width: 500px;
	}
	#cloud1{
		width: 500px;
		left: -5%;
		top: 20%;
	}
	#cloud2{
		width: 550px;
		right: -5%;
		top: -10%;
	}
	#cloud3{
		width: 650px;
		right: -5%;
		bottom: 30%;
	}
	#welcomeMessage{
		padding-top: 30%;
		font-size: 10em;
	}
	#jdName{

	}


}
/*phone Screen*/
@media screen and (max-width: 750px){
	body,html {
		background-color: red;
		font-size: 12px;
		text-align: center;
		clear: both;
		margin: auto;
	}
	#welcomeMessage{
		padding-top: 40%;
		font-size: 6em;
	}
	#cloud1{
		width: 50%;
		left: -5%;
		top: 10%;
	}
	#cloud2{
		width: 350px;
		right: -5%;
		top: -10%;
	}
	#cloud3{
		width: 350px;
		right: -5%;
		bottom: 10%;
	}
	p{
		font-size: 1.2em;
	}
	.aboutMeInline{
		width: 300px;
		min-width: 300px;
		float: none;
		min-width: 0;
		clear: both;
		margin:auto
	}
	.navItem{
		padding-left: 5px;
		padding-right: 5px;
		font-size: 1em;
	}
	.centerDiv{
		width:auto;
		min-width: 330px;
	}
	nav li {
		line-height: 40px;
		height: 40px;
	}
	#tools{
		width: 330px;
		text-align: center;
		margin: auto;
	}
	#landingDescription{
		width: 100%;
		color: white;
		text-align: center;
		top: 30%;
		padding: 0px;
	}
	#aboutMeColumn{
		text-align: left;
		padding-right: 20px;
		padding-top: 20px;
		margin:auto;
	}
	.icons{
		width: 15vw;
		margin: 5vw;
	}
}