<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<!--Container for the App-->
    <div id="app">
        <h1 v-text="title"></h1>


        <br>

        <hr>
        <!-- v-for used for displaying list of items based on an array-->
        <!-- list in lists: lists is the source data array and list is the element that is iterated on-->
        <ul v-for="list in lists" v-bind:key="list.id">
            <li>{{list.item}}</li>
        </ul>
        <input placeholder="Next Task" v-model="newItem" v-on:keyup.enter='addItem' autofocus/>
        <!--<small>{{newItem}}</small>-->
    </div>

<script src="vue.js"></script>
</body>
</html>